.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filtersAndCards {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 75vw;
    gap: 30px;
}

.centradoDeCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.cardsAndPag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    gap: 10px;
}

.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 9.5%;
}

.filtersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}

.input {
    width: 250px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefee3;
    height: 90vh;
    width: 80%;
    padding-top: 300px;
}


