.container{
    /*border: 1px solid black;*/
    display: grid;
    width: 65%;
    margin-top: 30px;
    /*
    height: 1650px;
    margin-left: 15%;
    flex-direction: row;
    flex-wrap: wrap;*/
    grid-gap: 10px;
    grid-row: 10px;
    grid-template-columns: repeat(3,2fr);
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.pag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}