
.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filtersAndCards{
    margin-top: 2%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    
}
.cardsAndPag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    gap: 10px;
}

.pag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}


.input{
    width: 250px;
}