.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c6e499e;
    width: 25%;

    border-radius: 25px;
}

.formBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dddddd;
    background-size: cover;
    height: 100vh;
}

.formContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 50vh;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 15%;
}

.title {
    color: #0d2015;
}

.content {
    text-align: center;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    border-radius: 1rem;
}
.errorText {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #d32f2f;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}
