.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBack{
    background-color: rgb(218, 218, 218);
    background-size: cover;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:30%;
    height: 50vh;
    border: solid 2px black;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 15%;
}
