.searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72px;
}

.alert{
    color: red;
    background-color: darkred;
    font-size: 13px;
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin: 0;
    margin-top: 1%;
}
