.landing{
    background-color: #FFF0C9;
    height: 100vh;
    display: flex;
}

.contentContainer{
    background-color: #A5CAA8;
    height: 80%;
    width: 40%;
    margin: 5%;
    margin-top: 5%;
    border-radius: 2.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.formContainer{
    height: 80%;
    width: 40%;
    margin: 5%;
    margin-top: 5%;
    background-color: #A5CAA8;
    border-radius: 1.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.form{
    background-color: #4C956C;
    height: 85%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
    border-radius: 1rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.content{
    text-align: center;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    border-radius: 1rem;
}

.input{
    height: 90%;
    width: 95%;
    background-color: #FEFEE3;
    color: #0D2015;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 30px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.buttonContainer{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-weight: bold;
}

.button{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 30%;
    width: 30%;
    border-radius: 1.5rem;
    background-color: #FFC9B9;
    color: #0D2015;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
    transition: transform 0.3s ease;
}

.button:hover{
    transform: scale(1.1);
    background-color: #0D2015;
    color: #FFC9B9;
    box-shadow: 4px 4px 10px  black;
    font-weight: bold;
}

.p1{
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.imgContainer{
    background-image: url('../../imgAssets/cafe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 43%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.link{
    color: #32a4ca;
    text-decoration: none; 
}

.link:hover{
    text-decoration:underline;
}

.link:visited{
    color: #32a4ca;
}
