.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 75vw;
    gap: 30px;
}

.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding-left: 30px;
}

.input {
    width: 250px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefee3;
    height: 90vh;
    width: 80%;
    padding-top: 300px;
}
