.container{
    background-color:#A5CAA8;
    width: 360px;
    height: 360px;
    border-radius: 20px;
}
.image{
    width: 130px;
    height: 130px;
    border-radius: 65px;
    margin-top: 30px;
    background-color: #1D472F;
}