.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2%;
    height: 100vmin;
    background-color: #fefee3;
}

.slidersContainer{
    margin-top: 5%;
}
